*{
	margin:0px;
	padding: 0px;
}
body{
	max-width: 100%;
	margin:0px auto;
	display: block;
}
h1 {
  	-webkit-text-stroke-width: .8px;
  	-webkit-text-stroke-color: gray;
}
.jumbotron {
	position: relative;
	background: #000 url("new_recipe.jpg") center fixed;
	background-size: cover;
	overflow: hidden;
	margin:0;
}
#restart, img{
	width: 45%;
	height: 30%;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.img-responsive{
	margin-bottom: 800px;
}