		*{
			margin:0px;
			padding: 0px;
		}

		body{
			max-width: 100%;
			margin:0px auto;
		}


		.error{
			color:red;
		}
		.success{
			color:green;
			
		}
		#registration{
			width:400px;
			padding: 15px;
			display: block;
			border: 3px solid black;
			vertical-align: center;


		}

			#registration h3{ 
				display: inline-block;
				text-align: bottom;
				vertical-align: center;
				font-style: bold;
				color:black;

			}

		.jumbotron {
		    position: absolute;
		    background: #000 url("kitchen_pic.jpg") center center fixed;
		    width: 100%;
		    height: 100%;
		    background-size: cover;
		    overflow: scroll;

		}

		img{
			width:45%;
			height: 30%;
			margin: auto;
			display: block;
			text-align: center;
		}

