<<<<<<< HEAD
*{
	margin:0px auto;
	padding: 0px;
}
body{
	margin:0 auto;
	max-width:100%;
	display:block;
}

.error{
	color:red;
}
.success{
	color:green;
}
#registration{
	width:400px;
	padding: 15px;
	display: block;
	border: 3px solid black;
	vertical-align: center;
	margin-top: 60px;
	background-color: #ffffff;
    -webkit-filter: opacity(75%);
    -webkit-backdrop-filter: blur(10px);

}
#registration h3{ 
	display: inline-block;
	text-align: bottom;
	vertical-align: center;
	font-style: bold;
	color:black;
}
.jumbotron {
	position: absolute;
	background: #000 url("kitchen_pic.jpg") center center fixed;
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: scroll;
	margin-bottom: 0;
}


