body {
    position: absolute;
    background: #000 url("beer.jpg") center center fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
.container-fluid ul {
	list-style-type : none;
}
.container-fluid a {
	color:white;
}
.container-fluid a:hover {
	color:white;
	text-decoration: underline;
}
.container-fluid {
	color:white;
}
.container-fluid h1{
	font-size: 3em;
}
.container-fluid label {
	font-size: 1.5em;
}
.container-fluid li {
	font-size: .9em;
}
.btn {
	background-color: #9ba04d;
}