body {
    position: absolute;
    background: #000 url("kitchen_stuff.jpg") center center fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.container-fluid {
	color:white;
	margin-top:130px;
}

.container-fluid h2{
	font-size: 4em;
}

.container-fluid p{
	font-size: 2em;
}

.container-fluid .form-group{
	font-size: 1.2em;
	font-weight: 200;
}

.ingredients {
	color:black;
}
